@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.hidden {
  display: none; }

.toggle-button {
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%); }
  .toggle-button:hover div, .toggle-button.open div {
    background-color: #2E3239; }
  .toggle-button div {
    width: 30px;
    height: 5px;
    margin: 2px 0;
    background-color: #D5DBE5; }

.icon-arrow {
  width: 0;
  height: 0;
  position: absolute;
  top: 35px; }
  .icon-arrow.closed {
    border-top: 5px solid transparent;
    border-left: 5px solid #959BA5;
    border-bottom: 5px solid transparent;
    left: 20px; }
  .icon-arrow.open {
    border-top: 5px solid #959BA5;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 15px; }

.icon-arrow.path-arrow.closed {
  left: 0;
  top: 10px; }

.icon-arrow.path-arrow.open {
  left: -5px;
  top: 10px; }

header {
  background-color: #2E3239;
  padding: 15px;
  text-align: center;
  color: #959BA5;
  text-transform: uppercase; }
  header h1, header h2 {
    letter-spacing: 2px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif; }

.header-logo {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px; }

.content-container {
  padding: 30px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  max-width: 1200px;
  margin: 0 auto; }
  .content-container p {
    color: #959BA5;
    font-family: "Roboto", sans-serif; }
  @media (min-width: 1200px) {
    .content-container {
      padding: 50px; } }

.tags-container {
  margin-top: 30px;
  border-top: 1px solid #4C525B;
  cursor: pointer; }
  @media (min-width: 1200px) {
    .tags-container {
      margin-top: 50px; } }

.tag {
  border-bottom: 1px solid #4C525B; }

.tag-details-container {
  display: inline-block; }

.tag-content {
  position: relative;
  cursor: pointer;
  padding: 30px; }

.tag-details {
  display: inline-block;
  vertical-align: top; }

.tag-name {
  color: #4C525B;
  font-size: 20px;
  margin-bottom: 10px; }

.paths {
  margin-top: 20px; }

.table {
  width: 100%;
  padding: 10px;
  display: table; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell;
  color: #959BA5; }

.table-cell-method,
.table-cell-auth {
  width: 10%;
  position: relative; }

.table-cell-route,
.table-cell-description {
  width: 40%; }

.table-cell-route {
  color: #2E3239; }

.table-cell-auth .user {
  color: #FCA130; }

.table-cell-auth .admin {
  color: #8ED2C9; }

.path {
  border: 1px solid #D8DDE4;
  width: 100%;
  margin: 0; }

.path-table {
  cursor: pointer; }

.path-method-label {
  color: white;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px;
  text-align: center;
  letter-spacing: 2px;
  margin-left: 10px; }
  .path-method-label.path-method-get {
    background-color: #4A90E2; }
  .path-method-label.path-method-delete {
    background-color: #D0021B; }
  .path-method-label.path-method-put {
    background-color: #599F08; }
  .path-method-label.path-method-post {
    background-color: #417505; }
  .path-method-label.path-method-patch {
    background-color: #B09A77; }
  .path-method-label.path-method-options {
    background-color: #959BA5; }

.path-detail-container {
  background-color: #EEF2F9; }
  .path-detail-container div {
    color: #2E3239;
    padding: 20px; }
  .path-detail-container p {
    line-height: 20px; }

.implementation-notes {
  border-bottom: 1px solid #959BA5; }

.parameters {
  background-color: white;
  margin-top: 15px; }

.path-detail-container .schema {
  background-color: #EEF2F9;
  width: 100%;
  max-height: 110px;
  padding: 0; }
  .path-detail-container .schema div {
    padding: 10px; }
  .path-detail-container .schema .schema-object {
    padding: 0; }
    .path-detail-container .schema .schema-object p {
      text-indent: 10px; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  text-align: center; }
  footer p, footer a {
    display: inline-block;
    margin: 20px;
    color: #2E3239;
    transition: all 0.2s ease;
    text-decoration: none; }
  footer a:hover {
    color: #959BA5;
    transition: all 0.2s ease; }
